@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ff5f08 1.67%, #ffe818 102.84%);
  --gradient-bar: linear-gradient(103.22deg, #ffed4b 1.84%, #ff5f08 102.67%);
  
  --color-bg: #111111;
  --color-footer : #d8d8d8;
  --color-blog: #042c54;
  --color-text: #ffffff;
  --color-subtext: #000000;
}